
<!--ev-->
<div class="onecol">
<h2><a href="https://twitter.com/ev">Evan Williams</a></h2>
<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AustenAllred/lists/ev" data-widget-id="582559581273899008">Tweets from https://twitter.com/AustenAllred/lists/ev</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--pmarca -->
  <div class="onecol">
<h2><a href="https://twitter.com/pmarca">Marc Andreessen</a></h2>
  <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/pmarca" data-widget-id="582539204007096321"></a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--msuster-->
<div class="onecol">
<h2><a href="https://twitter.com/msuster">Mark Suster</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/msuster" data-widget-id="582562232204050432">Tweets from https://twitter.com/AustenAllred/lists/msuster</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--cdixon-->
<div class="onecol">
<h2><a href="https://twitter.com/cdixon">Chris Dixon</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/cdixon" data-widget-id="582539866619035648"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--jack-->
<div class="onecol">
<h2><a href="https://twitter.com/jack">Jack Dorsey</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/jack" data-widget-id="582565324077203456">Tweets from https://twitter.com/AustenAllred/lists/jack</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--sacca-->
<div class="onecol">
<h2><a href="https://twitter.com/sacca">Chris Sacca</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/sacca" data-widget-id="582566281087303681">Tweets from https://twitter.com/AustenAllred/lists/sacca</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--fred wilson-->
<div class="onecol">
<h2><a href="https://twitter.com/fredwilson">Fred Wilson</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/fredwilson" data-widget-id="582567076784578560">Tweets from https://twitter.com/AustenAllred/lists/fredwilson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--startup l jackson-->
<div class="onecol">
<h2><a href="https://twitter.com/startupljackson">Startup L Jackson</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/startupljackson" data-widget-id="582568167236456449">Tweets from https://twitter.com/AustenAllred/lists/startupljackson</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--benedict evans-->
<div class="onecol">
<h2><a href="https://twitter.com/benedictevans">Benedict Evans</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/benedictevans" data-widget-id="582568577301020672">Tweets from https://twitter.com/AustenAllred/lists/benedictevans</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--paul graham-->
<div class="onecol">
<h2><a href="https://twitter.com/paulg">Paul Graham</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/paulg" data-widget-id="582571345923301376">Tweets from https://twitter.com/AustenAllred/lists/paulg</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--aaron levie-->
<div class="onecol">
<h2><a href="https://twitter.com/levie">Aaron Levie</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/levie" data-widget-id="582571851613757441">Tweets from https://twitter.com/AustenAllred/lists/levie</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--ryan hoover-->
<div class="onecol">
<h2><a href="https://twitter.com/rrhoover">Ryan Hoover</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/rhoover" data-widget-id="582572427433005057">Tweets from https://twitter.com/AustenAllred/lists/rhoover</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--hunter walk-->
<div class="onecol">
<h2><a href="https://twitter.com/hunterwalk">Hunter Walk</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/hunterwalk" data-widget-id="582573166762971136">Tweets from https://twitter.com/AustenAllred/lists/hunterwalk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--travis kalanick-->
<div class="onecol">
<h2><a href="https://twitter.com/travisk">Travis Kalanick</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/travisk" data-widget-id="582574330904625152">Tweets from https://twitter.com/AustenAllred/lists/travisk</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--ben rubin-->
<div class="onecol">
<h2><a href="https://twitter.com/benrbn">Ben Rubin</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/benrbn" data-widget-id="582575156901511168">Tweets from https://twitter.com/AustenAllred/lists/benrbn</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--bryce roberts-->
<div class="onecol">
<h2><a href="https://twitter.com/bryce">Bryce Roberts</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/bryce" data-widget-id="582576013231542272">Tweets from https://twitter.com/AustenAllred/lists/bryce</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--stewart butterfield-->
<div class="onecol">

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>

<!--ben horowitz-->
<div class="onecol">
<h2><a href="https://twitter.com/bhorowitz">Ben Horowitz</a></h2>
<a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/bhorowitz" data-widget-id="582576389489979392">Tweets from https://twitter.com/AustenAllred/lists/stewart</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>














