<ul class="top-list"><li>
      <a class="twitter-share-button"
      href="http://theireyes.austenallred.com/pages/viewlist"
      data-via="austenallred">
    Tweet
    </a>
    <script>
    window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));
    </script>
</li>

<li>
  Note: If you're just seeing a list of accounts, you probably need to turn off adblock. Unfortunately, no way around this.<br>

  Click on the list name (e.g. 'pmarca') to see natively on Twitter or subscribe to the list.
</li></ul>
<ul class="everyone clearfix js-everyone">
  <li>
    <!--ev-->
    <h2><a href="https://twitter.com/ev">Evan Williams</a></h2>
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/AustenAllred/lists/ev" data-widget-id="582559581273899008">Tweets from https://twitter.com/AustenAllred/lists/ev</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--pmarca -->
    <h2><a href="https://twitter.com/pmarca">Marc Andreessen</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/pmarca" data-widget-id="582539204007096321"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--msuster-->
    <h2><a href="https://twitter.com/msuster">Mark Suster</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/msuster" data-widget-id="582562232204050432">Tweets from https://twitter.com/AustenAllred/lists/msuster</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--cdixon-->
    <h2><a href="https://twitter.com/cdixon">Chris Dixon</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/cdixon" data-widget-id="582539866619035648"></a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--jack-->
    <h2><a href="https://twitter.com/jack">Jack Dorsey</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/jack" data-widget-id="582565324077203456">Tweets from https://twitter.com/AustenAllred/lists/jack</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--sacca-->
    <h2><a href="https://twitter.com/sacca">Chris Sacca</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/sacca" data-widget-id="582566281087303681">Tweets from https://twitter.com/AustenAllred/lists/sacca</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--fred wilson-->
    <h2><a href="https://twitter.com/fredwilson">Fred Wilson</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/fredwilson" data-widget-id="582567076784578560">Tweets from https://twitter.com/AustenAllred/lists/fredwilson</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--startup l jackson-->
    <h2><a href="https://twitter.com/startupljackson">Startup L Jackson</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/startupljackson" data-widget-id="582568167236456449">Tweets from https://twitter.com/AustenAllred/lists/startupljackson</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--benedict evans-->
    <h2><a href="https://twitter.com/benedictevans">Benedict Evans</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/benedictevans" data-widget-id="582568577301020672">Tweets from https://twitter.com/AustenAllred/lists/benedictevans</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--paul graham-->
    <h2><a href="https://twitter.com/paulg">Paul Graham</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/paulg" data-widget-id="582571345923301376">Tweets from https://twitter.com/AustenAllred/lists/paulg</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--aaron levie-->
    <h2><a href="https://twitter.com/levie">Aaron Levie</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/levie" data-widget-id="582571851613757441">Tweets from https://twitter.com/AustenAllred/lists/levie</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--ryan hoover-->
    <h2><a href="https://twitter.com/rrhoover">Ryan Hoover</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/rhoover" data-widget-id="582572427433005057">Tweets from https://twitter.com/AustenAllred/lists/rhoover</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--hunter walk-->
    <h2><a href="https://twitter.com/hunterwalk">Hunter Walk</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/hunterwalk" data-widget-id="582573166762971136">Tweets from https://twitter.com/AustenAllred/lists/hunterwalk</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--travis kalanick-->
    <h2><a href="https://twitter.com/travisk">Travis Kalanick</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/travisk" data-widget-id="582574330904625152">Tweets from https://twitter.com/AustenAllred/lists/travisk</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--ben rubin-->
    <h2><a href="https://twitter.com/benrbn">Ben Rubin</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/benrbn" data-widget-id="582575156901511168">Tweets from https://twitter.com/AustenAllred/lists/benrbn</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--bryce roberts-->
    <h2><a href="https://twitter.com/bryce">Bryce Roberts</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/bryce" data-widget-id="582576013231542272">Tweets from https://twitter.com/AustenAllred/lists/bryce</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--stewart butterfield-->
    <h2><a href="https://twitter.com/stewart">Stewart Butterfield</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/stewart" data-widget-id="582576389489979392">Tweets from https://twitter.com/AustenAllred/lists/stewart</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>
  <li>
    <!--ben horowitz-->
    <h2><a href="https://twitter.com/bhorowitz">Ben Horowitz</a></h2>
    <a class="twitter-timeline" href="https://twitter.com/AustenAllred/lists/bhorowitz" data-widget-id="582576389489979392">Tweets from https://twitter.com/AustenAllred/lists/bhorowitz</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </li>

