// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.body {
  width: 999999px;
  white-space:nowrap;
}

.navbar-default {
  background: #222;
}

.navbar-brand {
  padding:5px;
  margin:0;
}

.onecol {
  float:left;
  min-width:50%;
}

button a {
  color: #fff;
  text-align:center;
}