// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  height: 100%;
  padding-top: 70px;
}

.top-list {
  list-style: none;
}

.navbar-default {
  background: #222;
}

.navbar-brand {
  padding:5px;
  margin:0;
}

button a {
  color: #fff;
  text-align:center;
}

.everyone {
  list-style-type: none;
  width: auto;

  li {
    width: 400px;
    float: left;
    margin-right: 10px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}